@theme {
  --color-common-0: #ffffff;
  --color-common-100: #000000;

  --color-neutral-10: #111111;
  --color-neutral-20: #2a2a2a;
  --color-neutral-30: #474747;
  --color-neutral-40: #5c5c5c;
  --color-neutral-50: #737373;
  --color-neutral-60: #8e8e8e;
  --color-neutral-70: #a5a5a5;
  --color-neutral-80: #d0d0d0;
  --color-neutral-90: #dedede;
  --color-neutral-95: #f0f0f0;
  --color-neutral-99: #fbfbfb;


  --color-pink-10: #81244B;
  --color-pink-20: #B13468;
  --color-pink-30: #CC447C;
  --color-pink-40: #E7528F;
  --color-pink-50: #FF62A1;
  --color-pink-60: #FF7BAC;
  --color-pink-70: #FF92B7;
  --color-pink-80: #FFB2C9;
  --color-pink-90: #FFD1DE;
  --color-pink-95: #FFEAEF;
  --color-pink-99: #FFF9FC;

  --color-beige-10: #211F1B;
  --color-beige-20: #413F3B;
  --color-beige-30: #605D59;
  --color-beige-40: #74716C;
  --color-beige-50: #9D9A95;
  --color-beige-60: #BBB8B2;
  --color-beige-70: #DFDCD6;
  --color-beige-80: #EDEAE4;
  --color-beige-90: #F3EFEA;
  --color-beige-95: #F8F5F0;
  --color-beige-99: #FFFCF9;


  --alpha-0: #0000;
  --alpha-5: #0000000D;
  --alpha-12: #0000001F;
  --alpha-22: #00000038;
  --alpha-28: #00000047;
  --alpha-43: #0000006E;
  --alpha-52: #00000085;
  --alpha-61: #0000009C;
  --alpha-74: #000000BD;
  --alpha-88: #000000E0;
  --alpha-100: #000;

  --color-primary-subtler: #ffd1de;
  --color-primary-subtle: #ff92b7;
  --color-primary-normal: #ff62a1;
  --color-primary-strong: #cb447c;
  --color-primary-heavy: #81244b;

  --color-secondary-lightbeige: #f8f5f0;
  --color-secondary-beige: #edeae4;

  --color-label-subtler: #d0d0d0;
  --color-label-subtle: #8e8e8e;
  --color-label-default: #2a2a2a;

  --color-background-normal: #ffffff;
  --color-background-alternative: #fbfbfb;
  --color-background-alternative2: #f0f0f0;

  --color-line-heavy: #5c5c5c;
  --color-line-strong: #737373;
  --color-line-normal: #8e8e8e;
  --color-line-alternative: #a5a5a5;

  --color-status-positive: #18a13d;
  --color-status-cautionary: #ea9800;
  --color-status-destructive: #ff4242;

  /* ===== Typography scale ===== */
  --typo-title3-size: 24px;
  --typo-title3-line: 32px;

  --typo-heading1-size: 22px;
  --typo-heading1-line: 30px;

  --typo-heading2-size: 20px;
  --typo-heading2-line: 28px;

  --typo-headline1-size: 18px;
  --typo-headline1-line: 26px;

  --typo-headline2-size: 17px;
  --typo-headline2-line: 24px;

  --typo-body1-size: 16px;
  --typo-body1-line: 24px;

  --typo-body2-size: 15px;
  --typo-body2-line: 22px;

  --typo-label1-size: 14px;
  --typo-label1-line: 22px;

  --typo-label2-size: 13px;
  --typo-label2-line: 18px;

  --typo-caption1-size: 12px;
  --typo-caption1-line: 16px;

  --typo-caption2-size: 11px;
  --typo-caption2-line: 14px;


  /* shadow */
  --shadow-normal: 0px 0px 1px 0px rgb(0 0 0 / 6%), 0px 1px 4px 0px rgb(0 0 0 / 8%);
  --shadow-emphasize: 0px 0px 1px 0px rgb(0 0 0 / 8%), 0px 1px 4px 0px rgb(0 0 0 / 8%);
  --shadow-strong: 0px 0px 4px 0px rgb(0 0 0 / 8%), 0px 4px 8px 0px rgb(0 0 0 / 8%);
}

@layer components {
  .type-title3 {
    font-size: var(--typo-title3-size);
    line-height: var(--typo-title3-line);
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .type-heading1 {
    font-size: var(--typo-heading1-size);
    line-height: var(--typo-heading1-line);
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .type-heading2 {
    font-size: var(--typo-heading2-size);
    line-height: var(--typo-heading2-line);
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .type-headline1 {
    font-size: var(--typo-headline1-size);
    line-height: var(--typo-headline1-line);
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  .type-headline2 {
    font-size: var(--typo-headline2-size);
    line-height: var(--typo-headline2-line);
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  .type-body1 {
    font-size: var(--typo-body1-size);
    line-height: var(--typo-body1-line);
    font-weight: 500;
  }

  .type-body2 {
    font-size: var(--typo-body2-size);
    line-height: var(--typo-body2-line);
    font-weight: 500;
  }

  .type-label1 {
    font-size: var(--typo-label1-size);
    line-height: var(--typo-label1-line);
    font-weight: 600;
  }

  .type-label2 {
    font-size: var(--typo-label2-size);
    line-height: var(--typo-label2-line);
    font-weight: 600;
  }

  .type-caption1 {
    font-size: var(--typo-caption1-size);
    line-height: var(--typo-caption1-line);
    font-weight: 500;
  }

  .type-caption2 {
    font-size: var(--typo-caption2-size);
    line-height: var(--typo-caption2-line);
    font-weight: 500;
  }
}